/**
 * @name Pink
 * @description Discord In Pink
 * @author Yogo
 * @version 1.0.0
 * @authorId 601389635981017088
 * @invite 
 * @donate 
 * @patreon 
 * @website 
 * @source 
 * @updateUrl
 */

/* To change the colors, change the variables inside the root {}, do NOT change the @import url() */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);

/* All colors are in RGB format (red, green, blue) use: https://www.google.com/search?q=colorpicker	*/

:root {
	--font:						Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;					/*	General Font				*/
	--settingsicons:			1;						/*	Use Settings Icons in User/Server/Channel Settings: 1 = yes, 0 = no			*/
	
	--accentcolor:  				217,115,212;			/*	Blurple				 - 	default:	114,137,218		 - 	hex:	#7289da		*/
	--accentcolor2: 			255,115,250;			/*	Boostpink			 - 	default:	255,115,250		 - 	hex:	#ff73fa		*/
	--linkcolor:  				240,0,229;				/*	Link Color			 - 	default:	0,176,244		 - 	hex:	#00b0f4		*/
	--mentioncolor:  			248,27,250;				/*	Highlight Color		 - 	default:	250,166,26		 - 	hex:	#faa61a		*/
	--successcolor: 			87,242,135;				/*	Success Color		 - 	default:	87,242,135		 - 	hex:	#57f287		*/
	--warningcolor:  			248,27,250;				/*	Warning Color		 - 	default:	250,166,26		 - 	hex:	#faa61a		*/
	--dangercolor:  			237,66,69;				/*	Danger Color		 - 	default:	237,66,69		 - 	hex:	#ed4245		*/
	
	--textbrightest: 			255,255,255;			/*	Text Color 1		 - 	default:	255,255,255		 - 	hex:	#ffffff		*/
	--textbrighter:  			255,240,255;			/*	Text Color 2		 - 	default:	220,221,222		 - 	hex:	#dcddde		*/
	--textbright:  				255,185,255;			/*	Text Color 3		 - 	default:	185,187,190		 - 	hex:	#b9bbbe		*/
	--textdark:   				240,140,210;			/*	Text Color 4		 - 	default:	142,146,151		 - 	hex:	#8e9297		*/
	--textdarker:   				215,115,185;			/*	Text Color 5		 - 	default:	114,118,125		 - 	hex:	#72767d		*/
	--textdarkest:   				180,80,150;				/*	Text Color 6		 - 	default:	79,84,92		 - 	hex:	#4f545c		*/
	
	--backgroundaccent:   		160,50,120;				/*	Background Accent	 - 	default:	64,68,75		 - 	hex:	#40444b		*/
	--backgroundprimary:   		140,30,100;				/*	Background 1		 - 	default:	54,57,63		 - 	hex:	#36393f		*/
	--backgroundsecondary:   		130,20,90;				/*	Background 2		 - 	default:	47,49,54		 - 	hex:	#2f3136		*/
	--backgroundsecondaryalt:   	125,15,85;				/*	Background 3		 - 	default:	41,43,47		 - 	hex:	#292b2f		*/
	--backgroundtertiary:   		120,10,80;				/*	Background 4		 - 	default:	32,34,37		 - 	hex:	#202225		*/
	--backgroundfloating:   		110,0,70;					/*	Background Elevated	 - 	default:	24,25,28		 - 	hex:	#18191c		*/
}
